In [3]:
import numpy as np
import pandas as pd

# Assignment 1
Create a Series object from a list of 10 items using a customized index values.
Create a Series object from a dictionary of 10 items.
Create a DataFrame object from a Series object with a customized index values.
Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array. Give each columns a title and each index a name.
Separate the DataFrame in assignment 4 to its individual Index, Values and Colomns

In [19]:
#Create a Series object from a list of 10 items using a customized index values.
Grocery = pd.Series(["Wine", "Beaf", "Rice", "Maggi", "Cookies", "Goodies", "Semovita", "Power Oil", "Beverages", "Chocolate"], 
                    index=['i', 'ii', 'iii', 'iv', 'v', 'vi', 'vii', 'viii', 'ix', "x"])
# Grocery

In [17]:
#Create a Series object from a dictionary of 10 items.
Stationary = {'Books':2500, 'Pen':6400, 'Pencil':4600, 'Ruller':3600, 'Text Book':3400, 'Erazer':1500,
          'Dictionary':2300, 'Board':1000, 'Bible':6500, 'Hymn Book':2000}
Stationarydata = pd.Series(Stationary)
# Stationarydata

In [18]:
#Create a DataFrame object from a Series object with a customized index values
Stationary= pd.DataFrame({'Stationary Store':Stationarydata})
# Stationary

In [15]:
# Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array.
# Give each columns a title and each index a name.
Animals= pd.DataFrame(np.random.rand(5,5), columns=['Apes', 'Birds', 'Cattles', 'Dogs', 'Elephants'], 
                          index=['Gibber', 'Twitter', 'Moo', 'Bark', 'Trumpet'])
# Animals

In [155]:
#Separate the DataFrame in assignment 4 to its individual Index, Values and Colomns
Animalsrec= pd.DataFrame(Animals, columns=['Animals Sound'], 
index=['Gibber', 'Twitter', 'Moo', 'Bark', 'Trumpet'])
# Animalsrec

# Assignment 2
1. Collate the following informations for every 36 states in Nigeria.
     1. State Name 
     2. State Capital 
     3. State Population 
     4. State Landmass
2. Create a Pandas Series object of state population and landmass using state name as the key of both. 
3. From the two Series objects, create a DataFrame object and add the state capital as new collumn to the table. 
4. Calculate the population density of each state and use it to generate a new collumn on the DataFrame object.

In [37]:
#1a. State Name
State = pd.Series(["Kano", " Lagos", 'Kaduna', 'Katsina', 'Oyo', 'Rivers', 'Bauchi', 'Jigawa','Benue','Anambra', 'Borno',
                   'Delta', 'Imo', 'Niger', 'Akwa Ibom', 'Ogun', 'Sokoto', 'Ondo', 'Osun', 'Kogi', 'Zamfara', 'Enugu', 
                   'Kebbi', 'Edo', 'Plateau', 'Adamawa', 'Cross River', 'Abia', 'Ekiti', 'Kwara', 'Gombe', 'Yobe', 
                   'Taraba', 'Ebonyi', 'Nasarawa', 'Bayelsa', ' Federal Capital']) 
#                     index=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '14', '14', '15', '16', '17',
#                            '18', '10', '20', '21', '22', '23', '24', '25', '26', '27', "28", '29', '30', '31', '32',
#                            '33', '34', '35','36', '-'])
State

In [131]:
#Capital Name
Capital = pd.Series(["Kano", " Ikeja", 'Kaduna', 'Katsina', 'Ibadan', 'Port Harcourt', 'Bauchi', 'Dutse','Makurdi','Awka', 
                     'Maiduguri', 'Asaba', 'Owerri', 'Minna', 'Uyo', 'Abeokuta', 'Sokoto', 'Akure', 'Osogbo', 'Lokoja', 
                     'Gusau', 'Enugu', 'Birnin Kebbi', 'Benin city', 'Jos', 'Yola', 'Calabar', 'Umuahia', 'Ado Ekiti', 
                     'Ilorin', 'Gombe', 'Damaturu', 'Jalingo', 'Abakaliki', 'Lafia', 'Yenagoa', 'TerritoryÂ  Abuja'], 
                    index=["Kano", " Lagos", 'Kaduna', 'Katsina', 'Oyo', 'Rivers', 'Bauchi', 'Jigawa','Benue','Anambra', 
                          'Borno','Delta', 'Imo', 'Niger', 'Akwa Ibom', 'Ogun', 'Sokoto', 'Ondo', 'Osun', 'Kogi', 'Zamfara', 
                           'Enugu', 'Kebbi', 'Edo', 'Plateau', 'Adamawa', 'Cross River', 'Abia', 'Ekiti', 'Kwara', 
                           'Gombe', 'Yobe', 'Taraba', 'Ebonyi', 'Nasarawa', 'Bayelsa', ' Federal Capital'])
Capital

In [34]:
#1c. population
Population = pd.Series(['9,383,682', '9,013,534', '6,066,562', '5,792,578', '5,591,589', '5,185,400','4,676,465', 
                        '4,348,649', '4,219,244', '4,182,032', '4,151,193', '4,098,391', '3,934,899','3,950,249', 
                        '3,920,208', '3,728,098', '3,696,999', '3,441,024', '3,423,535', '3,278,487','3,259,846', 
                        '3,257,298', '3,238,628', '3,218,332', '3,178,712', '3,168,101', '2,888,966','2,833,999', 
                        '2,384,212', '2,371,089', '2,353,879', '2,321,591', '2,300,736', '2,173,501','1,863,275', 
                        '1,703,358', '1405201'])      
Population

In [35]:
#1d. Landmass Km2
# Landmass = pd.Series(["20,680.00", " 3,345.00", '43,460.00', '26,785.00', '27,460.00', '11,077.00', '64,605.00', '22,605.00',
#                       '34,059.00','4,844.00', '71,130.00', '18,050.00', '5,430.00', '13,930.00', '6,187.00', '16,762.00', 
#                       '25,973.00', '14,606.00', '10,245.00', '32,440.00', '39,762.00', '12,440.00', '41,855.00', '17,450.00', 
#                       '58,030.00', '36,917.00', '21,050.00', '5,420.00', '6,353.00', '37,700.00', '18,768.00', '45,270.00', 
#                       '55,920.00', '5,530.00', '27,117.00', '10,773.00', '7,315.00']) 
# Landmass

In [108]:
#2. Create a Pandas Series object of state population and landmass using state name as the key of both.
#a. Pandas Series object of state population
Population = pd.Series({'Kano':9383682, 'Lagos':9013534 , 'Kaduna': 6066562, 'Katsina':5792578, 'Oyo':5591589, 
                        'Rivers':5185400, 'Bauchi':4676465, 'Jigawa':4348649, 'Benue':4219244, 'Anambra':4182032, 
                        'Borno':4151193, 'Delta':4098391, 'Imo':3934899, 'Niger':3950249, 'Akwa Ibom':3920208, 
                        'Ogun':3728098, 'Sokoto':3696999, 'Ondo':3441024, 'Osun':3423535, 'Kogi':3278487,
                        'Zamfara':3259846, 'Enugu':3257298, 'Kebbi':3238628, 'Edo':3218332, 'Plateau':3178712, 
                        'Adamawa':3168101, 'Cross River':2888966, 'Abia':2833999, 'Ekiti':2384212, 'Kwara':2371089, 
                        'Gombe':2353879, 'Yobe':2321591, 'Taraba':2300736, 'Ebonyi':2173501, 'Nasarawa':1863275, 
                        'Bayelsa':1703358, 'Federal Capital':1405201 })                      
Population

In [107]:
#Create a Pandas Series object of state population and landmass using state name as the key of both.
#b. Pandas Series object of state landmass 
Landmass = pd.Series ({'Kano':20680.00, 'Lagos':3345.00 , 'Kaduna': 43460.00, 'Katsina':26785.00, 'Oyo':27460.00, 
                    'Rivers':11077.00, 'Bauchi':64605.00, 'Jigawa':22605.00, 'Benue':34059.00, 'Anambra':4844.00, 
                     'Borno':71130.00, 'Delta':18050.00, 'Imo':5430.00, 'Niger':13930.00, 'Akwa Ibom':6187.00, 
                     'Ogun':16762.00, 'Sokoto':25973.00, 'Ondo':14606.00, 'Osun':10245.00, 'Kogi':32440.00,
                        'Zamfara':39762.00, 'Enugu':12440.00, 'Kebbi':41855.00, 'Edo':17450.00, 'Plateau':58030.00, 
                        'Adamawa':36917.00, 'Cross River':21050.00, 'Abia':5420.00, 'Ekiti':6353.00, 'Kwara':37700.00, 
                        'Gombe':18768.00, 'Yobe':45270.00, 'Taraba':55920.00, 'Ebonyi':5530.00, 'Nasarawa':27117.00, 
                        'Bayelsa':10773.00, 'Federal Capital':7315.00 }) 
Landmass

In [151]:
#3a. From the two Series objects, create a DataFrame object and add the state capital as new collumn to the table.
census = pd.DataFrame({'Population2006':Population, 'LandmassKm2':Landmass })
# census

In [150]:
#3b. 
# adding a new column to already existing dataframe object.The state capital as new collumn to the table.
census ['Capital'] = census['Population2006'] + census ['LandmassKm2']
# census

In [149]:
#4. Calculate the population density of each state and use it to generate a new collumn on the DataFrame object.
census['Density']= census.Population2006 / census['LandmassKm2']
# census

# Assignment 3
1. Import the MELBOURNE_HOUSE_PRICES_LESS.csv dataset
2. Extract all the values where price column is not null from the dataset to a new variable
3. Extract all the values where price column is null from the dataset to a new variable
4. Clean the dataset so it deosn't have any null value again using any method
5. Compute the sum, mean of the price column on the dataset
6. Get the house with the lowest price and with the highest price

In [25]:
#Import the MELBOURNE_HOUSE_PRICES_LESS.csv dataset
mhpl = pd.read_csv('C:\\Datasets\\MELBOURNE_HOUSE_PRICES_LESS.csv')
mhpl.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [45]:
#2. Extract all the values where price column is not null from the dataset to a new variable
# mhpl.notnull()

In [46]:
#2. Extract all the values where price column is null from the dataset to a new variable
# mhpl.isnull()

In [47]:
#3. Clean the dataset so it deosn't have any null value again using any method
# mhpl.dropna()

In [37]:
#4. Compute the sum, mean of the price column on the dataset
# mhpl.sum(), mhpl.mean()

In [38]:
#5. Get the house with the lowest price and with the highest price
# np.min(mhpl), np.max(mhpl)